workflows/wf1-lead-intake.json
{
  "name": "WF1 - Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "lead-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dateStr = now.toISOString().slice(0, 10).replace(/-/g, '');\nconst seq = String(now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds()).padStart(3, '0');\nconst leadId = 'RG-' + dateStr + '-' + seq;\n\nconst timestamp = now.toISOString().replace('T', ' ').slice(0, 19);\nconst body = $input.first().json.body || $input.first().json;\n\nvar paymentAnswer = '';\nvar keys = Object.keys(body);\nfor (var i = 0; i < keys.length; i++) {\n  if (keys[i].indexOf('Have you made the payment') === 0) {\n    paymentAnswer = body[keys[i]];\n    break;\n  }\n}\n\nvar paymentMethod = 'Cash';\nif (paymentAnswer.toLowerCase().indexOf('zelle') >= 0) {\n  paymentMethod = 'Zelle';\n}\n\nreturn [{\n  json: {\n    leadId: leadId,\n    timestamp: timestamp,\n    name: body['Full Name'] || '',\n    phone: body['Phone Number'] || '',\n    email: '',\n    paymentMethod: paymentMethod,\n    amount: '',\n    subscriptionPeriod: '',\n    notes: paymentAnswer,\n    status: 'NEW_LEAD'\n  }\n}];"
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000002",
      "name": "Generate Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "-- SELECT SPREADSHEET --"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pending Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Payment Method": "={{ $json.paymentMethod }}",
            "Amount": "={{ $json.amount }}",
            "Subscription Period": "={{ $json.subscriptionPeriod }}",
            "Status": "NEW_LEAD",
            "Payment Verified": "No",
            "Payment Confirmation Sent": "No",
            "Onboarding Sent": "No",
            "Follow-up Sent": "No",
            "Notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Phone", "displayName": "Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Payment Method", "displayName": "Payment Method", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Amount", "displayName": "Amount", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Subscription Period", "displayName": "Subscription Period", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Payment Verified", "displayName": "Payment Verified", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Payment Confirmation Sent", "displayName": "Payment Confirmation Sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Onboarding Sent", "displayName": "Onboarding Sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Follow-up Sent", "displayName": "Follow-up Sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000003",
      "name": "Write to Pending Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "-- SELECT CREDENTIAL --"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.paymentMethod }}",
                    "rightValue": "Zelle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Zelle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.paymentMethod }}",
                    "rightValue": "Cash",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cash"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000004",
      "name": "Payment Method Branch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "-- SELECT SPREADSHEET --"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pending Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Status": "PENDING_ZELLE_VERIFICATION"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            {"id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000005",
      "name": "Update Status Zelle",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1140, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "-- SELECT CREDENTIAL --"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"leadId\":\"{{ $json.leadId }}\",\"message\":\"Zelle registration received\"}"
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000006",
      "name": "Respond Zelle",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 260]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "-- SELECT SPREADSHEET --"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pending Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Status": "PENDING_CASH"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            {"id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000007",
      "name": "Update Status Cash",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1140, 540],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "-- SELECT CREDENTIAL --"
        }
      }
    },
    {
      "parameters": {
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "=Hi {{ $json.name }}, thanks for registering for Rangtal Garba! Your payment method is marked as cash. Please bring your payment to the next class."
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000008",
      "name": "Send Cash Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1360, 540],
      "credentials": {
        "twilioApi": {
          "id": "",
          "name": "-- SELECT CREDENTIAL --"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "-- SELECT SPREADSHEET --"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pending Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Follow-up Sent": "Yes"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            {"id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Follow-up Sent", "displayName": "Follow-up Sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000009",
      "name": "Update Follow-up Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1580, 540],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "-- SELECT CREDENTIAL --"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"leadId\":\"{{ $json.leadId }}\",\"message\":\"Cash registration received\"}"
      },
      "id": "d4e5f6a7-2b1c-4d3e-a9f8-100000000010",
      "name": "Respond Cash",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 540]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Lead ID": {
      "main": [
        [
          {
            "node": "Write to Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Pending Leads": {
      "main": [
        [
          {
            "node": "Payment Method Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Method Branch": {
      "main": [
        [
          {
            "node": "Update Status Zelle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status Cash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Zelle": {
      "main": [
        [
          {
            "node": "Respond Zelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Cash": {
      "main": [
        [
          {
            "node": "Send Cash Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cash Reminder": {
      "main": [
        [
          {
            "node": "Update Follow-up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow-up Sent": {
      "main": [
        [
          {
            "node": "Respond Cash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-15T00:00:00.000Z",
  "versionId": "2"
}
