workflows/wf2-zelle-approval.json
{
  "name": "WF2 - Zelle Approval",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Pending Leads"
        },
        "event": "rowUpdate",
        "triggerOn": "specificColumn",
        "columnsToWatch": "Payment Verified",
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000001",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nif (row['Payment Verified'] !== 'Yes') {\n  return [];\n}\n\nif (row['Status'] === 'CONFIRMED') {\n  return [];\n}\n\nreturn [{\n  json: {\n    leadId: row['Lead ID'] || '',\n    name: row['Name'] || '',\n    phone: row['Phone'] || '',\n    email: row['Email'] || '',\n    amount: row['Amount'] || '',\n    paymentMethod: row['Payment Method'] || '',\n    subscriptionPeriod: row['Subscription Period'] || '',\n    status: row['Status'] || ''\n  }\n}];"
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000002",
      "name": "Check If Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Pending Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Status": "PAID_VERIFIED",
            "Approved By": "Team"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            { "id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": true, "canBeUsedToMatch": true, "type": "string" },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Approved By", "displayName": "Approved By", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000003",
      "name": "Mark Paid Verified",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 400]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{ $json.phone }}",
        "body": "=Hi {{ $json.name }}, we've received your Zelle payment. Your registration for Rangtal Garba is confirmed!",
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000004",
      "name": "Send Payment Confirmation SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{ $json.phone }}",
        "body": "=Hi {{ $json.name }}, welcome to Rangtal Garba! We'll share class schedule and details shortly. See you on the dance floor!",
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000005",
      "name": "Send Onboarding SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Pending Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Payment Confirmation Sent": "Yes",
            "Onboarding Sent": "Yes",
            "Status": "CONFIRMED",
            "Confirmed Timestamp": "={{ new Date().toISOString().replace('T', ' ').slice(0, 19) }}"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            { "id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": true, "canBeUsedToMatch": true, "type": "string" },
            { "id": "Payment Confirmation Sent", "displayName": "Payment Confirmation Sent", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Onboarding Sent", "displayName": "Onboarding Sent", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Confirmed Timestamp", "displayName": "Confirmed Timestamp", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000006",
      "name": "Update Messages Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Confirmed Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Amount": "={{ $json.amount }}",
            "Payment Method": "={{ $json.paymentMethod }}",
            "Subscription Period": "={{ $json.subscriptionPeriod }}",
            "Confirmed Timestamp": "={{ new Date().toISOString().replace('T', ' ').slice(0, 19) }}",
            "Confirmed By": "Team",
            "Status": "CONFIRMED"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Phone", "displayName": "Phone", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Amount", "displayName": "Amount", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Payment Method", "displayName": "Payment Method", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Subscription Period", "displayName": "Subscription Period", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Confirmed Timestamp", "displayName": "Confirmed Timestamp", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Confirmed By", "displayName": "Confirmed By", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a2f10c01-b7e1-4a3d-9c12-000000000007",
      "name": "Append to Confirmed Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          { "node": "Check If Approved", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check If Approved": {
      "main": [
        [
          { "node": "Mark Paid Verified", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Paid Verified": {
      "main": [
        [
          { "node": "Send Payment Confirmation SMS", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Payment Confirmation SMS": {
      "main": [
        [
          { "node": "Send Onboarding SMS", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Onboarding SMS": {
      "main": [
        [
          { "node": "Update Messages Sent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Messages Sent": {
      "main": [
        [
          { "node": "Append to Confirmed Leads", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "2"
}
