workflows/wf3-zelle-reminder.json
{
  "name": "WF3 - Zelle Payment Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "c3000001-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Pending Leads"
        },
        "options": {}
      },
      "id": "c3000001-0001-4000-8000-000000000002",
      "name": "Get Pending Zelle Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst oneDayMs = 24 * 60 * 60 * 1000;\nconst results = [];\n\nfor (var i = 0; i < $input.all().length; i++) {\n  var row = $input.all()[i].json;\n  \n  if (row['Status'] !== 'PENDING_ZELLE_VERIFICATION') continue;\n  if (row['Payment Verified'] === 'Yes') continue;\n  \n  var leadTime = new Date(row['Timestamp']);\n  if (now - leadTime < oneDayMs) continue;\n  \n  results.push({\n    json: {\n      leadId: row['Lead ID'] || '',\n      name: row['Name'] || '',\n      phone: row['Phone'] || '',\n      timestamp: row['Timestamp'] || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "c3000001-0001-4000-8000-000000000003",
      "name": "Filter Overdue Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{ $json.phone }}",
        "body": "=Hi {{ $json.name }}, this is a reminder from Rangtal Garba. We haven't received your Zelle payment yet. Please Zelle to Riya Shah at 630-523-2457. Thank you!",
        "options": {}
      },
      "id": "c3000001-0001-4000-8000-000000000004",
      "name": "Send Reminder SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Pending Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Follow-up Sent": "Yes"
          },
          "matchingColumns": ["Lead ID"],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Follow-up Sent",
              "displayName": "Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3000001-0001-4000-8000-000000000005",
      "name": "Mark Follow-up Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Get Pending Zelle Leads", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Pending Zelle Leads": {
      "main": [
        [
          { "node": "Filter Overdue Leads", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Overdue Leads": {
      "main": [
        [
          { "node": "Send Reminder SMS", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reminder SMS": {
      "main": [
        [
          { "node": "Mark Follow-up Sent", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
